@font-face {
    font-family: 'Custom';
    src: url(fonts/Custom.ttf);
}


* {
    font-family: 'Custom';
    text-align: center;
    margin: 0;
}


.nav_color {
    background-color: darkred;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.nav_title a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.nav_title a:hover {
    color: yellow;
}

body {
    background-color: rgb(78, 78, 78);
}

.top {
    color: white;
    margin: 20px;
}

.section {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 3px solid darkred
 }
 .box {

    background-color: whitesmoke;
    border: 3px solid darkred;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 50px;
    width: 315px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: left;
  }

  .box img {
    width: 100%; /* Ensures the image fills the container's width */
    height: auto; /* Maintains the aspect ratio */
    aspect-ratio: 1 / 1; /* Sets the height equal to the width, creating a square */
    object-fit: cover; /* Ensures the image covers the entire container without stretching */
    border-radius: 8px; /* Optional: Rounds the corners of the image */
    margin-top: 40px; /* Adds space above the image */
  }

  .box h3 {
    margin: 10px 0 5px;
  }

  .box p {
    font-size: 17px;
    color:  rgb(78, 78, 78);
    text-align: left;
  }

  .title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between title-price and description */
  }
  
  .title-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(78, 78, 78); /* Adjust color as needed */
  }
  
  .price-range {
    font-size: 20px;
    color: rgb(78, 78, 78) /* Adjust color as needed */
  }

