* {
    margin: 0;
}


.nav_color {
    background-color: darkred;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.nav_title a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.nav_title a:hover {
    color: yellow;
}

body {
    background-color: rgb(78, 78, 78);
}

.top {
    color: white;
    margin: 20px;
}

.section {
    background-color: darkred;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 3px solid darkred
 }
 .box {

    background-color: whitesmoke;
    border: 3px solid darkred;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 50px;
    width: 315px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: left;
  }

  .box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 40px; /* Adds space below the image */

  }

  .box h3 {
    margin: 10px 0 5px;
  }

  .box p {
    font-size: 17px;
    color: #555;
  }

  .title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between title-price and description */
  }
  
  .title-link {
    text-decoration: none;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
  }
  
  .price-range {
    font-size: 20px;
    color: #666; /* Adjust color as needed */
  }