*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%
}

body{
    background-color:rgb(234, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#boxes{
    height: 500px
}
.bg-contain {
    background-color: rgba(241, 244, 213, 0.765); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.936);
  width: 500px;
}

#background {
    background-image: url('assets/form-pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-contain form{

}