* {
    margin: 0;
    padding: 0;
}
.nav_color {
    background-color: darkred;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav_title a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.nav_title a:hover {
    color: yellow;
}

.tagbox{
    width: 100%;
    height: 500px;
    background-image: url(https://www.stevens.edu/_next/image?url=https:%2F%2Fimages.ctfassets.net%2Fmviowpldu823%2F6PIQaMyacd17eDN3M91T9P%2Fa8b5ae5daff3e444d8be58b320c20682%2F332_0001.jpg%3Fw%3D2400%26h%3D1350%26f%3Dcenter%26q%3D80%26fit%3Dfill&w=2400&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 darkred;
    padding: 30px;
}

.tagbox form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tagbox input[type="text"] {
    width: 90%;
    padding: 12px;
    border: 1px solid darkred;
    border-radius: 5px;
}

#text{
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 0 darkred;
    padding: 10px;
    text-decoration: underline;
    margin-top: 10px;
}

.mostpopular{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}

.mostpopular a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
}

#secondtitle{
    color: darkred;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 95px;
}

.options{
    max-height:500px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; 
    width: 100%;
    white-space: nowrap;
    padding: 5px;
}
.options::-webkit-scrollbar{
    display: none;
}
.options .description{
    min-width: 180px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 30px;

}

.options .description:hover {
    background-color: rgba(139, 0, 0, 0.5);
    color: white;
}

.scrollbutton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
}

.scroll-btn{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondheader{
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 darkred;
    padding: 30px;
}

.secondbox{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.thirdbox{
    width: 100%;
    height:500px;
    background-color: darkred;
}